html {
  --text-color: #0a244d;
  --background-color: #white;
}

@media (prefers-color-scheme: dark) {
  html {
    --text-color: white;
    --background-color: #262626;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font: 1rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}

.menu__root {
  height: 30px;
  display: flex;
}

.menu__item {
  cursor: pointer;
  text-decoration-line: underline;
}

.menu__item_selected {
  cursor: auto;
  text-decoration-line: initial;
}

.menu__item:not(:first-child) {
  padding-left: 10px;
}
